<div class="border-2 border-white rounded text-white p-8 h-full">
  <div class="flex justify-between">
    <span class="material-symbols-outlined cursor-pointer" (click)="isFlipped = !isFlipped">edit</span>
    <span class="material-symbols-outlined cursor-pointer" (click)="isAdding = !isAdding">add</span>
    <span class="material-symbols-outlined cursor-pointer" (click)="removeCategory()">delete</span>
  </div>

  <h2>{{ category.name }}</h2>

  <div *ngIf="!isFlipped">
    <div *ngFor="let distribution of category.distributions" class="flex justify-between h-32">
      <div *ngIf="updatingDistribution !== distribution.id">
        <span>{{ distribution.name }}</span>
        <p>{{ distribution.description }}</p>
      </div>
      <form *ngIf="updatingDistribution === distribution.id" [formGroup]="updateDistributionForm" (ngSubmit)="updateDistribution(distribution)">
        <div>
          <label class="mr-2">Nom</label>
          <input type="text" formControlName="name" class="border text-black" value="{{ distribution.name }}">
        </div>
        <div>
          <label class="mr-2">Description</label>
          <input type="text" formControlName="description" class="border text-black" value="{{ distribution.description }}">
        </div>
        <button class="p-2 rounded m-4 bg-white text-black">
          Sauvegarder
        </button>
      </form>
      <div>
        <span class="material-symbols-outlined cursor-pointer" (click)="removeDistribution(distribution.id)">
          delete
        </span>
        <span class="material-symbols-outlined cursor-pointer" (click)="setUpdatingDistribution(distribution.id)">
          edit
        </span>
      </div>
    </div>
  </div>

  <div *ngIf="isFlipped" class="flex justify-center items-center">
    <form [formGroup]="updatedCategoryForm" (ngSubmit)="updateCategory(); isFlipped = !isFlipped">
      <label class="mr-2">Nouveau nom</label>
      <input type="text" formControlName="name" class="text-black">
      <button class="bg-white p-4 rounded m-4 text-black">Sauvegarder</button>
    </form>
  </div>
</div>

<div *ngIf="isAdding" class="bg-black absolute inset-0 opacity-50"></div>
<div *ngIf="isAdding" class="absolute flex justify-center items-center p-4 bg-white top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
  <form [formGroup]="createDistributionForm" class="text-black" (ngSubmit)="addDistribution(); isAdding = !isAdding">
    <div class="flex justify-end">
      <span class="material-symbols-outlined cursor-pointer" (click)="isAdding = !isAdding">
        close
      </span>
    </div>
    <div>
      <label class="mr-2">Nom</label>
      <input type="text" formControlName="name" class="border">
    </div>
    <div>
      <label class="mr-2">Description</label>
      <input type="text" formControlName="description" class="border">
    </div>
    <button class="p-4 rounded m-4 bg-blue-800 text-white">
      Ajouter
    </button>
  </form>
</div>
